#Datasets
/Datasets/Beijing/
/Datasets/Experiments_ICONIP
/Results/Beijing
/Results/Experiments_ICONIP
/Results/Warsaw preprocessed/Second_layer/ResultsCombined.csv

snntorch
Ursynow.csv
/.idea
/cmake-build-debug